@CHARSET "ISO-8859-1";

html,body {
	margin: 0;
	padding: 0;
	background-color: #F8F8FF;
	height: 125%;
	margin: 0;
}

#containerTitulo {
	text-align: center;
	color: #0099FF;
	font-style: italic;
	font-size: 55px;
	background-color: #E0FFFF;
	border-style: double;
}

#containerTudo {
	height: 100%;
}

#containerLoginCadastro {
}

#containerFeedPrincipal {
	margin: 0% 0% 0% 1%;
	float: left;
	width: 70%;
}

#containerFeedExtra {
	border-style: ridge;
	float: right;
	width: 28%;
	height: 44%;
}

#containerAmigos {
	border-style: ridge;
	position: relative;
	height: 34%;
	margin: 36% 0% 0% 1%;
	height: 34%;
}

#containerRodape {
	color: #0099FF;
	font-weight: bold;
	font-style: italic;
	background-color: #E0FFFF;
	border-style: double;
	position: absolute;
	top: 153%;
	height: 3%;
	width: 99%;
}